{% extends "core.html" %}
{% load static %}

{% block title %}Control Panel{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "control.css" %}">
    <script src="{% static "control.min.js" %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid my-4">
        <div class="card mb-3">
            <div class="card-body d-flex flex-row">
                <div class="preview">
                    <img src="{% static "logo.gif" %}" alt="Ely Cathedral Logo" height="141" width="126">
                    <div class="bar">
                        {% if ses.state == "Init" %}
                            <h1 id="top">Initialising</h1>
                            <h2 id="bottom">{{ ses.session }}</h2>
                        {% elif ses.state == "Blank" %}
                            <h1 id="top">&nbsp;</h1>
                            <h2 id="bottom">&nbsp;</h2>
                        {% elif ses.state == "Active" %}
                            <h1 id="top">{{ ses.scene.line1 }}</h1>
                            <h2 id="bottom">{{ ses.scene.line2 }}</h2>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group btn-block btn-group-lg mb-3" role="group" aria-label="Scene Control">
                    <button type="button" id="previous" class="btn btn-outline-dark control" onclick="showprevious()"><i class="fas fa-backward" title="Previous"></i></button>
                    <button type="button" id="next" class="btn btn-outline-dark control" onclick="shownext()"><i class="fas fa-forward" title="Next"></i></button>
                </div>
                <button type="button" id="blank" class="btn btn-outline-dark btn-lg btn-block mb-3 control" onclick="showblank()">
                    {% if ses.state == "Blank" %}
                        <i class="fas fa-play" title="Un-Blank"></i>
                    {% else %}
                        <i class="fas fa-pause" title="Blank"></i>
                    {% endif %}
                </button>
            </div>
            <div class="col-md-6">
                {# Scenes #}
                <div class="list-group">
                    {% for program_scene in ses.program.scenes.all %}
                        <button type="button"
                                class="flex-column d-flex list-group-item control list-group-item-action{% if program_scene.scene.id == ses.scene.id %} active{% endif %} scenechange"
                                data-scene="{{ program_scene.scene.id }}" data-program-scene="{{ program_scene.order }}"
                                id="scene-{{ program_scene.order }}" onclick="scenechange({{ program_scene.order }})">
                            <strong>{{ program_scene.scene.line1 }}</strong>
                            <small>{{ program_scene.scene.line2 }}</small>
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        let scenes = new Map();
        {% for program_scene in ses.program.scenes.all %}
            scenes.set(
                {{ program_scene.scene.id }},
                {
                    line1: "{{ program_scene.scene.line1 }}",
                    line2: "{{ program_scene.scene.line2 }}"
                }
            );
        {% endfor %}


        let order = new Map()
        {% for program_scene in ses.program.scenes.all %}
            order.set({{ program_scene.order }},{{ program_scene.scene.id }});
        {% endfor %}


        const api_key = "{{ ses.key }}";

        const session = "{{ ses.session }}";

        let current_state = "{{ ses.state }}";
    </script>
{% endblock %}