{% extends "core.html" %}
{% load static widget_tweaks %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "control.css" %}">
{% endblock %}

{% block body %}
    <div class="container-fluid my-4">
        <div class="card mb-3 bg-light w-50-sm m-auto">
            <h1 class="card-header text-center">{{ title }}</h1>
            <div class="card-body">
                <form class="flex flex-column" method="post">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control form-control-lg"|add_error_class:"is-invalid" }}
                            {% if field.errors %}
                                <small class="invalid-feedback">
                                    {{ field.errors }}
                                </small>
                            {% elif field.help_text %}
                                <small class="form-text">
                                    {{ field.help_text }}
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}