{% extends "core.html" %}
{% load widget_tweaks %}

{% block body %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>



    <div class="container-fluid my-4">
        <div class="card mb-3 bg-light w-50 m-auto">
            <h1 class="card-header text-center">Login</h1>
            <div class="card-body">
                <form class="flex flex-column" method="post">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control form-control-lg"|add_error_class:"is-invalid" }}
                            {% if field.help_text %}
                                <small class="form-text">
                                    {{ form.username.help_text }}
                                </small>
                            {% endif %}
                            {% if field.errors %}
                                <small class="invalid-feedback">
                                    {{ form.username.errors }}
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}